@import url("../global.css");

body {
  overflow: hidden;
  height: 100vh;
}

.background {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 600px;
  height: 134%;
  background: url(../../assets/shapes/circle.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.background-2 {
  position: absolute;
  top: 150px;
  left: -200px;
  width: 600px;
  height: 134%;
  background: url(../../assets/shapes/shape-1.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.main-container {
  display: flex;
  justify-content: start;
  align-items: center;

  height: 75%;
}

.main-container .connexion {
  width: 45%;
  padding: 20px;
}

.main-container .connexion .header {
  display: flex;
  align-items: center;

  margin-bottom: 42px;
  font-size: 36px;
  position: relative;
}

.main-container .connexion .header a {
  text-decoration: none;
  color: var(--text);
  margin-right: 65px;
  font-weight: 800;
  padding: 10px;
}

.main-container .connexion .header a.active {
  color: var(--secondary);
  transition: color 0.5s ease-in-out;
}

.main-container .connexion .header hr {
  position: absolute;
  height: 4px;

  bottom: -15px;
  border: none;
  border-radius: 10px;

  background: var(--secondary);
  transition: transform 0.5s ease-in-out;
}

.main-container .connexion .header a:last-child {
  margin-right: 0;
}

.main-container .connexion .form {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  position: relative;
}

.main-container .connexion .form span {
  position: relative;
}

.main-container .connexion .form span i {
  font-size: 20px;
  position: absolute;

  top: 50%;
  left: 22px;

  transform: translateY(-50%);
  color: var(--secondary);
}

.main-container .connexion .form span input {
  width: 100%;
  padding: 15px;

  border: 1px solid var(--primary);
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.2);
  background-color: var(--primary);

  border-radius: 25px;
  font-size: 16px;
  padding-left: 55px;
  color: var(--text);
}

.main-container .connexion .form span input::placeholder {
  color: var(--text);
}

.main-container .connexion .form span input:focus {
  border: 1px solid rgba(149, 177, 173, 0.3);
  outline: none;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.2);
}

.main-container .connexion .form .footer {
  margin-top: 33px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-container .connexion .form .footer .options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
}

.main-container .connexion .form .footer .error-message {
  color: var(--error);
  font-size: 16px;
  font-weight: 600;

  transition: transform 0.5s ease-in-out;
}

.main-container .connexion .form .footer .error-message.shake {
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-container .connexion .form .footer a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 600;
}

.main-container .connexion .form .footer a:hover {
  color: var(--text);
}

.main-container .connexion .form .footer button {
  border: none;
  text-decoration: none;

  width: 150px;
  border-radius: 25px;

  background-color: var(--secondary);
  color: var(--white);

  padding: 12px 25px;
  margin-left: 45px;

  font-weight: 600;
  font-size: 22px;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-container .connexion .form .footer button:hover {
  background-color: rgba(39, 174, 96, 0.3);
  color: var(--secondary);
}

#connexion-header,
#email-span,
#password-span,
#phone-span {
  transition: transform 0.5s ease-in-out;
}

.main-container .connexion .form .phone-number {
  transform: translateY(200px);
}

.main-container .connexion .form .phone-number.hidden {
  opacity: 0;
}

.main-container .connexion .form .phone-number.visible {
  opacity: 1;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0) translateX(0);

  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
