#custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.alert {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  width: 300px;
}

.alert .alert-title {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
}

.alert .alert-title i {
  margin-right: 10px;
}

.alert-content {
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.info {
  background-color: #cce5ff;
  color: #004085;
}

.alert.warning {
  background-color: #fff3cd;
  color: #856404;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  padding: 0;
}
