@import url("./global.css");

.main-container {
  display: flex;
  margin-top: 120px;
  width: 100%;
  justify-content: flex-start;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.checked {
  color: orange;
}

.gallery {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}

.gallery-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 400px;
}

.gallery-item {
  width: 25%;
  padding: 6px;
  box-sizing: border-box;
}

.gallery-thumb {
  padding-top: 6px;
  display: block;
  width: 100%;
}

.gallery-thumb img {
  width: 100%; /* Thumbnails occupy the full width of their container */
  height: 125px; /* Maintain aspect ratio */
}

.gallery-selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery-selector:checked + .gallery-img {
  opacity: 1;
}

.gallery-selector:checked ~ .gallery-thumb > img {
  box-shadow: 0 0 0 3px var(--secondary);
}

.quick-view {
  margin-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quick-view .main-infos {
  display: flex;
  flex-direction: column;
}

.quick-view .main-infos h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.quick-view .main-infos i {
  font-size: 15px;
  margin-bottom: 8px;
}

.quick-view hr {
  margin: 20px 0;
  width: 100%;
  color: var(--text);
}

.quick-view .price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary);
}

.quick-view .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.quick-view .actions .manage-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 35px;
  width: 150px;
  border: 1px solid var(--gray);
}

.quick-view .actions .manage-quantity button {
  padding: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--light-stroke);
}

.quick-view .actions .manage-quantity span {
  width: 25px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: black;
}

.quick-view .actions .cart {
  background-color: var(--secondary);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 35px;
  width: 60%;
  border: none;
  cursor: pointer;

  font-size: 1rem;
  margin: 0 7px;
}

.quick-view .actions .cart i {
  margin-left: 10px;
}

.quick-view .actions .wish {
  background-color: var(--white);
  color: var(--text);
  border-radius: 35px;

  width: 40px;
  height: 40px;

  border: none;
  cursor: pointer;

  font-size: 1rem;
}

.customer-feedback {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

h2.title-feedback {
  text-align: center;
}

hr.feedback-separator {
  width: 100%;
  border: 1px solid var(--text);
}

.customer-feedback .feedback-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 55%;
}

.customer-feedback .feedback-section .feedback-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: flex-start;
  position: relative;
}

.customer-feedback .feedback-section .feedback-item .user-infos {
  display: flex;
  align-items: center;
}

.customer-feedback .feedback-section .feedback-item .user-infos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.customer-feedback .feedback-section .feedback-item .user-infos .user-details {
  margin-left: 15px;
}

.customer-feedback
  .feedback-section
  .feedback-item
  .user-infos
  .user-details
  .name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.customer-feedback .feedback-section .feedback-item .message {
  margin-top: 5px;
}

.customer-feedback .feedback-section .feedback-item hr {
  border: 1px solid var(--text);
  width: 100%;
}

.customer-feedback .feedback-section .feedback-item .date {
  position: absolute;
  right: 0;
  top: 30px;
}
.customer-feedback .feedback-section .feedback-item .delete-feedback {
  font-size: 2rem;
  color: var(--error);
  position: absolute;
  right: 0;
  top: -5px;
  cursor: pointer;
}

.customer-feedback .add-feedback {
  width: 40%;
  height: 450px;
  margin: 0 auto;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: sticky;
  z-index: 1000;

  top: 25%;
}

.customer-feedback .add-feedback h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--primary);
}

.customer-feedback .add-feedback textarea {
  width: 100%;
  height: 55%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.customer-feedback .add-feedback textarea:focus {
  border: 1px solid var(--secondary);
  outline: none;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.2);
}

.customer-feedback .add-feedback button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.customer-feedback .add-feedback .rating-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.customer-feedback .add-feedback .rating-stars .fa-star {
  font-size: 1.5rem;
  color: #ccc;
  transition: color 0.3s ease;
  cursor: pointer;
}

.customer-feedback .add-feedback .rating-stars .fa-star:hover,
.customer-feedback .add-feedback .rating-stars .fa-star.active {
  color: orange;
}

.show-more-button {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-top: 20px;
  font-size: 1rem;
  width: 80%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--secondary);
  transition: background-color 0.3s ease;
}
