@import url("./global.css");

.main-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  color: var(--dark);
}

.main-container .navigation {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  background-color: var(--white);
  width: 25%;
  border-radius: 5px;

  height: max-content;
}

.main-container .navigation h3 {
  padding: 20px;
  margin: 0;
  color: var(--dark);
}

.main-container .navigation a {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--dark);
}

.main-container .navigation a.active {
  background-color: var(--light-hover-green);
  border-left: 5px solid var(--secondary);
}

.main-container .navigation a:hover {
  background-color: var(--light-hover-green);
}

.main-container .navigation a i {
  margin-right: 10px;
}

.profile-section {
  width: 70%;
  border-radius: 5px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.profile-container {
  display: flex;
  margin: 0 auto;
  padding: 0 25px;
}

.profile-image {
  width: 55%;
  padding: 20px;
  border-radius: 5px;

  background-color: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--light-stroke);
}

.info > .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.info .name .profile-name {
  color: #1a1a1a;
}

.profile-image > .info {
  margin-top: 10px;
  text-align: center;
}

.profile-details {
  flex: 1;
  padding: 33px;
  background-color: var(--white);
  border-radius: 5px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-details .content {
  margin-top: 20px;
  position: relative;
  height: 100%;
}

.profile-details .content .admin-status {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(32, 181, 38, 0.2);
  color: rgba(44, 116, 47, 1);
  padding: 5px 10px;
  border-radius: 5px;
}

.info {
  margin-bottom: 10px;
}

.info-label {
  color: #666;
  margin-right: 5px;
}

.profile-details .content .info-value {
  font-weight: bold;
  color: #1a1a1a;
}

.profile-details .content .info-value a {
  text-decoration: none;
  color: #1a1a1a;
}

.profile-details .content .info-value a:hover {
  color: var(--secondary);
}

.profile-details .info .info-names {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}

.edit-profile-link {
  color: var(--secondary);
  text-decoration: none;
  margin-left: 5px;
}

.edit-profile-link:hover {
  text-decoration: underline;
}
