.footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
  position: absolute;
  left: 0;
  width: 100%;

  margin-top: 50px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 25%;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-logo p {
  font-size: 0.9rem;
  text-align: center;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-section a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #fff;
}
