.dark-theme {
  --primary: rgba(29, 29, 29, 1);
  --secondary: rgba(39, 174, 96, 1);
  --tertiary: rgba(146, 227, 169, 1);
  --text: rgba(210, 210, 210, 1);
  --hover-color: rgba(62, 62, 62, 1);
  --white: rgba(255, 255, 255, 1);
}

.light-theme {
  --primary: rgba(255, 255, 255, 1);
  --secondary: rgba(39, 174, 96, 1);
  --tertiary: rgba(146, 227, 169, 1);
  --text: rgba(29, 29, 29, 1);
  --hover-color: rgba(200, 200, 200, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

body,
body.dark-theme,
body.light-theme {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary);
  color: var(--text);
  width: 80%;
  margin: 0 auto;

  transition: background-color 0.3s ease,
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 1);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
}
