@import url("./global.css");

header {
  margin-top: 55px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header .social-media {
  display: flex;
  align-items: center;
}

header .social-media a {
  color: var(--secondary);
  text-decoration: none;
}

header .social-media a:hover {
  color: white;
}

header .social-media a img {
  width: 22px;
  height: 22px;
  margin-right: 33px;
}

header .logo img {
  animation-name: floatAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

header .burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

header .burger-menu hr:first-child {
  margin: 0;
  width: 37px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

header .burger-menu hr:nth-child(2) {
  margin: 7px 0 0 0;
  width: 17px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

header .burger-menu hr:last-child {
  margin: 7px 0 0 0;
  width: 23px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 0;
  max-width: 450px;
  padding-top: 60px;

  z-index: 1000;
  overflow-y: auto;

  animation-name: slideOutRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.navigation.active {
  display: block;
  width: 450px;

  animation-name: slideInRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    display: none;
    transform: translateX(100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.navigation .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background-color: var(--secondary);
}

.navigation .navbar-top .close {
  color: var(--white);
  font-size: 33px;
  cursor: pointer;
}

.navigation .navbar-top #theme-toggle {
  background-color: var(--tertiary);
  color: var(--primary);

  border: none;
  border-radius: 5px;

  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  opacity: 0;
}

.checkbox-label {
  background-color: var(--primary);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa.fa-moon-o {
  color: #f1c40f;
}

.fa.fa-sun-o {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: rgba(169, 169, 169, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 22px;
  height: 22px;
  position: absolute;

  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.navigation .navigation-content {
  display: flex;
  flex-direction: column;
}

.navigation .navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation .navbar-links li a {
  display: block;
  width: 100%;

  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  padding: 22px;

  margin: 0;
  transition: color 0.3s ease;
}

.navigation .navbar-links a i {
  color: var(--text);
  font-size: 22px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.navigation .navbar-links a:hover {
  color: var(--secondary);
  background-color: var(--hover-color);
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: var(--secondary);
  padding: 10px;
}

.navbar-bottom .login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn,
.signup-btn {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.signup-btn {
  border: 2px solid var(--white);
  border-radius: 5px;
}

.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
