@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.dark-theme {
  --primary: rgba(29, 29, 29, 1);
  --secondary: rgba(39, 174, 96, 1);
  --tertiary: rgba(146, 227, 169, 1);
  --text: rgba(210, 210, 210, 1);
  --hover-color: rgba(62, 62, 62, 1);
  --white: rgba(255, 255, 255, 1);
}

.light-theme {
  --primary: rgba(255, 255, 255, 1);
  --secondary: rgba(39, 174, 96, 1);
  --tertiary: rgba(146, 227, 169, 1);
  --text: rgba(29, 29, 29, 1);
  --hover-color: rgba(200, 200, 200, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

body.dark-theme,
body.light-theme {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary);
  color: var(--text);
  width: 80%;
  margin: 0 auto;

  transition: background-color 0.3s ease,
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  overflow: hidden;
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 1);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
}

header {
  margin-top: 55px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .social-media {
  display: flex;
  align-items: center;
}

header .social-media a {
  color: var(--secondary);
  text-decoration: none;
}

header .social-media a:hover {
  color: white;
}

header .social-media a img {
  width: 22px;
  height: 22px;
  margin-right: 33px;
}

header .logo img {
  width: 200px;
  height: 200px;
  animation-name: floatAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

header .burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

header .burger-menu hr:first-child {
  margin: 0;
  width: 37px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

header .burger-menu hr:nth-child(2) {
  margin: 7px 0 0 0;
  width: 17px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

header .burger-menu hr:last-child {
  margin: 7px 0 0 0;
  width: 23px;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
  border-radius: 5px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 450px;
  padding-top: 60px;

  z-index: 1000;
  overflow-y: auto;

  animation-name: slideOutRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.navigation.active {
  display: block;

  animation-name: slideInRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    display: none;
    transform: translateX(100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.navigation .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background-color: var(--secondary);
}

.navigation .navbar-top .close {
  color: var(--text);
  font-size: 33px;
  cursor: pointer;
}

.navigation .navbar-top #theme-toggle {
  background-color: var(--tertiary);
  color: var(--primary);

  border: none;
  border-radius: 5px;

  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  opacity: 0;
}

.checkbox-label {
  background-color: var(--primary);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa.fa-moon-o {
  color: #f1c40f;
}

.fa.fa-sun-o {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: rgba(169, 169, 169, 1);
  shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 22px;
  height: 22px;
  position: absolute;

  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.navigation .navigation-content {
  display: flex;
  flex-direction: column;
}

.navigation .navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation .navbar-links li a {
  display: block;
  width: 100%;

  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  padding: 22px;

  margin: 0;
  transition: color 0.3s ease;
}

.navigation .navbar-links a i {
  color: var(--text);
  font-size: 22px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.navigation .navbar-links a:hover {
  color: var(--secondary);
  background-color: var(--hover-color);
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: var(--secondary);
  padding: 10px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn,
.signup-btn {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.signup-btn {
  border: 2px solid var(--white);
  border-radius: 5px;
}

.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* TODO : fix background size */
.background {
  position: absolute;
  top: 150px;
  left: -200px;
  width: 600px;
  height: 134%;
  background: url(../assets/shapes/shape-1.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.main-container {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.main-container .hero .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-container .hero .left h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-container .hero .left p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgba(169, 169, 169, 1);
}

.main-container .hero .left .more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  flex-direction: column;
}

.main-container .hero .left .more button {
  background-color: var(--secondary);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  width: 200px;
}

.main-container .hero .left .more button:hover {
  background-color: var(--tertiary);
}

.main-container .hero .left .more hr {
  width: 75px;
  background-color: var(--secondary);
  height: 2px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.main-container .hero .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .hero .right img {
  width: 100%;
  height: 100%;
}

.main-container .features {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.main-container .features .feature {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container .features .feature img {
  width: 100px;
  height: 100px;
}

.main-container .features .feature h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.main-container .features .feature p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: rgba(169, 169, 169, 1);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
